{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<div class="container2">
  <div id="berk">
    <button class = "B">
     <a href="http://p1-how-sen-haosen537681.codeanyapp.com:8000/weather/forecast/" class="alert-link">Berkeley</a>
    </button>
    </div>
  <div id="berk-weather">79 &#8457;</div>
  <div id="berk-image">
      <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
    </div>
  <div id="los">
    <button class = "B">
     <a href="http://p1-how-sen-haosen537681.codeanyapp.com:8000/weather/forecast/" class="alert-link">Los Angeles</a>
    </button></div>
  <div id="los-weather">80 &#8457;</div>
  <div id="los-image"><img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png"></div>
  <div id="sf">
    <button class = "B">
    <a href="http://p1-how-sen-haosen537681.codeanyapp.com:8000/weather/forecast/" class="alert-link">San Fransico</a>
    </button></div>
  <div id="sf-weather">65 &#8457;</div>
  <div id="sf-image"><img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png"></div>
  <div id="sp">
    <button class = "B">
    <a href="http://p1-how-sen-haosen537681.codeanyapp.com:8000/weather/forecast/" class="alert-link">San Pablo</a>
    </button></div>
  <div id="sp-weather">69 &#8457;</div>
  <div id="sp-image"><img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png"></div>
</div>
  <br/>
  <br/>
  <div >
    <button class ="ADD">
      Add City +
    </button>
  </div>
  <div>
    <button class="button button3">Picnic</button>
<button class="button button3">Beach</button>
<button class="button button3">Reading</button>
<button class="button button3">Swimming</button>
  </div>
  <div>
    <button class="button button3">Customize</button>
  </div>
  
  <div>
    <button class="button button9">
      Update
    </button>
  </div>
</body>
</html>
