{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
</head>
<body>
	<div class="alert">
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Danger!</strong> Extreme Weather Warning <a href="https://i.pinimg.com/564x/4c/46/2b/4c462b44a2733cd3270fa4455daa2741.jpg" class="alert-link">click to read this message</a>.
</div>
      <div class="col-xl-12 text-center">
        <div class="search-container">
          <form action="/action_page.php">
          <input type="text" placeholder="What is in your mind..">
          <button type="submit">search</button>
          </form>
      </div>
    </div>
  <div class="city">
    <div class="col-xl-12 text-center">
     <p>
       <font size="150">Berkeley</font>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
    </div>
    <div class="col">
      <div class="temp">
        <p> <font size="1000"> 75 &#8457;</font> </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>now</p>
    </div>
    <div class="col">12pm
    </div>
    <div class="col">1pm
    </div>
    <div class="col">2pm
    </div>
    <div class="col">3pm
    </div>
    <div class="col">4pm
    </div>
    <div class="col">5pm
    </div>
    <div class="col">6pm
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="w">
      <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
      </div>
    </div>
    <div class="col">
      <div class="w">
        <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
      </div>
    </div>
    <div class="col">
      <div class="w">
        <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
      </div>
    </div>
    <div class="col">
      <div class="w">
        <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
      </div>
    </div>
    <div class="col">
      <div class="w">
        <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
      </div>
    </div>
    <div class="col">
      <div class="w">
        <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
      </div>
    </div>
    <div class="col">
      <div class="w">
        <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
      </div>
    </div>
    <div class="col">
      <div class="w">
        <img src="https://cdn2.iconfinder.com/data/icons/weather-color/500/cloudy-512.png">
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <div class="col1">
        <div class = "pw">
          <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/36087932_2150208481865494_163402924129517568_n.jpg?_nc_cat=0&oh=d82be7cc777002fbd9c614b5ec3b793b&oe=5BA8A1CE">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="col2">
       <div class="figure">
         <img src="https://i.pinimg.com/originals/a4/6a/59/a46a592ab3d975e00000e32146cd856f.gif">
        </div>
      </div>
    </div>
  </div>
  <div class="change-icons">
    <img src="https://i.pinimg.com/originals/23/f5/ca/23f5ca46716db4d585efba5ab2f9deba.gif">
  </div>
  <div class="button button5">
     <button type='submit'>
        <a href="http://p1-how-sen-haosen537681.codeanyapp.com:8000/weather/comparison/" class="alert-link">List-of-City</a>.
    </button>
  </div>
</body>
</html>